/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__toggle{
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices <> */
@media (width <= 1150px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -120%;
    width: 80%;
    height: 100%;
    background-color: hsla(var(--hue), 8%, 10%, 0.4);
    backdrop-filter: blur(24px);
    padding: 6rem 2rem 2rem 3rem;
    z-index: var(--z-fixed);
    transition: right 0.4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link{
  position: relative;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__link::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--first-color);
  border-radius: 50%;
  top: 0;
  left: -1rem;
  bottom: 0;
  margin-block: auto;
  opacity: 0;
  transition: opacity 0.4s;
}

.nav__contact{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--black-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-weight: var(--font-semi-bold);
  transition: box-shadow 0.4s;
}

.nav__contact:hover{
  box-shadow: 0 8px 24px hsla(var(--hue), 75%, 60%, 0.3);
}

.nav__close{
  position: absolute;
  color: var(--white-color);
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change header styles */
.scroll-header::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--hue), 8%, 10%, 0.4);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}