/*=============== WORK SECTION ===============*/
.work__card{
  position: relative;
  background-color: var(--container-color);
  padding: 1rem 1rem 3rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.work__link{
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  z-index: 5;
}

.work__data{
  z-index: 5;
}

.work__img{
  border-radius: 1rem;
  transition: transform 0.4s;
}

.work__arrow{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 48px;
  height: 48px;
  background: var(--gradient-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: var(--black-color);
  opacity: 0;
  transition: opacity 0.4s;
}

.work__number{
  display: block;
  font: var(--font-semi-bold) var(--biggest-font-size) var(--second-font);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.work__name{
  font-size: var(--h2-font-size);
  color: var(--white-color);
  margin-bottom: 0.5rem;
}

.work__card:hover .work__img{
  transform: scale(1.1);
}

.work__card:hover .work__arrow{
  opacity: 1;
}

.work__card .blob-big{
  top: 2rem;
  right: -2rem;
  z-index: 1;
}

/* Swiper class */
.work__swiper{
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}

.work .swiper-pagination-bullets{
  bottom: 0;
}

.work .swiper-pagination-bullet{
  background-color: var(--first-color);
  transition: opacity 0.4s;
}